.welcome-message {
  height: 90px;
  width: 100%;
  background-color: #222222;
  display: flex;
  justify-content: space-evenly;
}

.headiv {
  background-color: black;
}
.button {
  color: white;
  font-size: 20px;
}
.button:hover {
  color: rgb(0, 183, 255);
}
.side-bar {
  height: 100vh;
  width: 290px;
  background-color: #222222;
  margin-top: 0%;
}
.add_property {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: #45a049;
  border-radius: 5%;
  height: 60px;
  width: 140px;
  padding-left: 10px;
}
.add_property:hover {
  background-color: black;
}
